<p id="notice"><%= notice %></p>

<div class="row">
	<div class="columns small-12 medium-10">
		<h1>Listing About Photos</h1>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_about_photo_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @about_photos.each do |about_photo| %>
      <tr>
        <td><%= link_to about_photo.name, about_photo %></td>
        <td><%= image_tag about_photo.image, :width=> 200 %></td>
        <td><%= link_to fa_icon("pencil"), edit_about_photo_path(about_photo) %></td>
        <td><%= link_to fa_icon("trash"), about_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>