<p id="notice"><%= notice %></p>

<div class="row">
	<div class="columns small-12 medium-10">
		<h1>Listing Content Types</h1>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_competition_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @content_types.each do |content_type| %>
      <tr>
        <td><%= link_to content_type.name, content_type %></td>
        <td><%= link_to fa_icon("pencil"), edit_content_type_path(content_type) %></td>
        <td><%= link_to fa_icon("trash"), content_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>