<p id="notice"><%= notice %></p>

<div class="row">
	<div class="columns small-12 medium-10">
		<h1>Listing People</h1>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_person_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Image</th>
      <th>Year start</th>
      <th>Year end</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, person %></td>
        <td><%= person.role.try :name  %></td>
        <td><%= image_tag person.image, :width=>100 %></td>
        <td><%= person.year_start %></td>
        <td><%= person.year_end %></td>
        <td><%= link_to fa_icon("pencil"), edit_person_path(person) %></td>
        <td><%= link_to fa_icon("trash"), person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>