<%= form_for(@documents_person) do |f| %>
  <br />
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :person_id, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%= f.collection_select(:person_id, Person.order(:name), :id, :name, {:prompt=>true}, {:class=>'my-custom-class'}) %>
      </div>
  </div>
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :document_id, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%= f.collection_select(:document_id, Document.order(:name), :id, :name, {:prompt=>true}, {:class=>'my-custom-class'}) %>
      </div>
  </div>
  <div class="row">
	  <div class="small-3 medium-2 columns">
      </div>
      <div class="small-9 medium-10 columns">
		  <%= f.submit "Submit", :class=>"button expanded" %>
      </div>
  </div>
<% end %>
