<div class="row">
	<div class="columns small-12 medium-10">
		<h1>Listing Document Links</h1>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_document_link_path %>
		</div>
	</div>
</div>


<table class="hover stack">
  <thead>
    <tr>
      <th>Document</th>
      <th>Doc link</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_links.each do |document_link| %>
      <tr>
        <td><%= link_to document_link.document.name, document_link.document %></td>
        <td><%= link_to document_link.name, document_link.doc_link, :target=>"_blank" %></td>
        <td><%= link_to 'Show', document_link %></td>
        <td><%= link_to fa_icon("pencil"), edit_document_link_path(document_link) %></td>
        <td><%= link_to fa_icon("trash"), document_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>