<%= form_for(@competition) do |f| %>
	<% if @competition.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

			<ul>
				<% @competition.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %> 
  <br />
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :name, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%=f.text_field :name%>
      </div>
  </div>
  <br />
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :game_id, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%= f.collection_select(:game_id, Game.joins(:year).order("start_date desc"), :id, :name, {:prompt=>true}, {:class=>'my-custom-class'}) %>
      </div>
  </div>
  <br />
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :date, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%= f.date_select :date, :start_year=> 2002 %>
      </div>
  </div>
  <br />

  <div class="row">
	  <div class="small-3 medium-2 columns">
      </div>
      <div class="small-9 medium-10 columns">
		  <%= f.submit "Submit", :class=>"button expanded" %>
      </div>
  </div>
<% end %>
