<div class="row title-bar">
	<div class="columns small-12 medium-10">
		<h3>Listing Competitions</h3>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_competition_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Game</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= link_to competition.name, competition %></td>
        <td><%= competition.date %></td>
        <td><%= link_to competition.game.name, competition.game rescue ""%></td>
        <td><%= link_to fa_icon("pencil"), edit_competition_path(competition) %></td>
        <td><%= link_to fa_icon("trash"), competition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>