<p id="notice"><%= notice %></p>

<div class="row">
	<div class="columns small-12 medium-10">
		<h1>Listing Robots</h1>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_robot_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
      <th>Name</th>
	  <th>Game</th>
      <th>Descripton</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @robots.each do |robot| %>
      <tr>
        <td><%= link_to robot.name, robot %></td>
		<td><%= link_to robot.game.name, robot.game %></td>
        <td><%= robot.descripton.html_safe %></td>
        <td><%= image_tag robot.image, :width=>100 %></td>
        <td><%= link_to fa_icon("pencil"), edit_robot_path(robot) %></td>
        <td><%= link_to fa_icon("trash"), robot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>