<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @robot.name %>
</p>

<p>
  <strong>Game:</strong>
  <%= @robot.game.name %>
</p>

<p>
  <strong>Descripton:</strong>
  <%= @robot.descripton %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @robot.image.url %>
</p>

<%= link_to 'Edit', edit_robot_path(@robot) %> |
<%= link_to 'Back', robots_path %>
