<p id="notice"><%= notice %></p>

<h1>Listing Categories Posts</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories_posts.each do |categories_post| %>
      <tr>
        <td><%= categories_post.post %></td>
        <td><%= categories_post.category %></td>
        <td><%= link_to 'Show', categories_post %></td>
        <td><%= link_to 'Edit', edit_categories_post_path(categories_post) %></td>
        <td><%= link_to 'Destroy', categories_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categories post', new_categories_post_path %>
