<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @categories_post.post %>
</p>

<p>
  <strong>Category:</strong>
  <%= @categories_post.category %>
</p>

<%= link_to 'Edit', edit_categories_post_path(@categories_post) %> |
<%= link_to 'Back', categories_posts_path %>
