<div class="row title-bar">
	<div class="columns small-12 medium-10">
		<h3>Listing Users</h3>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_user_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
      <th>Email</th>
      <th>Approved</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user %></td>
        <td><%= user.approved %></td>
        <td><%= link_to fa_icon("pencil"), edit_user_path(user) %></td>
        <td><%= link_to fa_icon("trash"), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>