<%=render "title_bar"%>

<div class="row">
	<div class="small-12 medium-expand columns callout">
		<%=render "meetings"%>
	</div>
	<div class="small-1 columns">
	</div>
	<div class="small-12 medium-expand columns callout">
		<%=render "mailchimp"%>
	</div>
</div>
<div class="row ">
	<div class="columns callout">
		<div class="row title-bar align-justify">
			<div class="small-8 columns">
				<h5>News!</h5>
			</div>
			<%if !current_user.nil?%>
				<div class="small-4 columns">
					<div class="text-right"><%=link_to fa_icon("plus"), new_post_path%></div>
				</div>
			<%end%>
		</div>
		<%=render "posts/individual_post", :post=>@post%>
	</div>
</div>

<div class="row align-justify">
	<div class="small-12 large-3 columns callout text-center">
		<%=link_to "", team_handbook_path, :class=>"fill-div"%>
		<br />
		<div class="show-for-large">
			<br />
		</div>
		<h2>Team Handbook</h2>
		<div class="show-for-large">
			<br />
			<br />
		</div>
	</div>
	<div class="small-12 large-3 columns callout text-center">
		<%=link_to "", involved_path, :class=>"fill-div"%>
		<br/>
		<h2>How Can I Get Involved?</h2>
		<div class="show-for-large">
			<br/>
		</div>
	</div>
	<div class="small-12 large-3 columns callout text-center">
		<%=link_to "", labs_path, :class=>"fill-div"%>
		<br />
		<div class="show-for-large">
			<br />
		</div>
		<h2 class="float-center">Zebracorn Labs</h2>
		<div class="show-for-large">
			<br />
			<br />
		</div>
	</div>
</div>
<div class="row ">
	<div class="columns callout">
		<div class="row title-bar align-justify">
			<div class="small-12 columns">
				<h5>FIRST Robotics</h5>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="columns small-12 medium-4">
				<a href="http://www.firstinspires.org" target="_blank">
					<%=image_tag "FIRST_Logo.png"%>
				</a>
			</div>
			<div class="columns small-12 medium-8">
				FRC Team 900 &mdash;The Zebracorns&mdash; is a robotics team which competes in the <i>FIRST<sup>®</sup> Robotics Competition</i>. <i>FIRST</i> (For Inspiration and Recognition of Science and Technology) is an international organization whose mission is to inspire young people to be science and technology leaders. Starting in Kindergarden, students participate in research and hands on robotics projects alongside mentors. Through the concepts of <i>Gracious Profesionalism</i><sup>®</sup> and <i>Coopertition</i><sup>®</sup>, students learn skills to empower them in their future careers. 
			</div>
		</div>
	</div>
</div>