<%= form_for(@sponsor) do |f| %>
  <br />
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :name, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%=f.text_field :name%>
      </div>
  </div>
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :sponsor_url, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%=f.text_field :sponsor_url%>
      </div>
  </div>
  <div class="row">
	  <div class="small-3 medium-2 columns">
      </div>
      <div class="small-9 medium-10 columns">
	  	  <fieldset class=" small-12 columns">
			  <%=f.check_box :active%>
	  		  <%= f.label :active, :class=>"text-right middle"%>
		  </fieldset>
      </div>
  </div>
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :logo_link, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		<%= f.file_field :logo_link %>
		<% if f.object.logo_link? %>
			<%= image_tag f.object.logo_link.url, :width=>300 %>
		    <div class="row">
		  	  <fieldset class=" small-12 columns">
				  <%=f.check_box :remove_logo_link%>
		  		  <%= f.label :remove_logo_link, :class=>"text-right middle"%>
			  </fieldset>
		    </div>
		<% end %>
      </div>
  </div>
  <div class="row">
	  <div class="small-3 medium-2 columns">
      </div>
      <div class="small-9 medium-10 columns">
		  <%= f.submit "Submit", :class=>"button expanded" %>
      </div>
  </div>
<% end %>
