<p id="notice"><%= notice %></p>

<div class="row">
	<div class="columns small-12 medium-10">
		<h1>Listing Sponsors</h1>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_sponsor_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo link</th>
      <th>Sponsor url</th>
      <th>Active</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= link_to sponsor.name, sponsor %></td>
        <td><%= image_tag sponsor.logo_link, :width=>100%></td>
        <td><%= link_to sponsor.sponsor_url, sponsor.sponsor_url, :target=>"_blank"%></td>
        <td><%= sponsor.active %></td>
        <td><%= link_to fa_icon("pencil"), edit_sponsor_path(sponsor) %></td>
        <td><%= link_to fa_icon("trash"), sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>