<div class="row ">
	<div class="columns callout">
		<div class="row title-bar">
			<h3>Our Sponsors!</h3>
		</div>
		<p>
			Nothing we do would be possible without our amazing sponsors. On behalf of all Zebracorns - past, present and future - THANK YOU!
		</p>
		<p>
			If you would like to sponsor our team, please contact us at <%=mentor_email_link%>.
		</p>
	</div>
</div>


<%@sponsor_levels.each do |level|%>
	<div class="row ">
		<div class="columns callout">
			<div class="row title-bar">
				<h5><b><%=level[0].name%></b></h5>
			</div>
			<div class="row small-up-1 medium-up-<%=level[0].order+1%>">
				<%sponsors = level[1].sort_by{|s| s.sponsor.name.downcase}%>
				<%sponsors.each do |sponsor_year|%>
					<%sponsor = sponsor_year.sponsor%>
					<div class="column">
						<%if level[0].order <= 2%>
							<%if sponsor.logo_link? %>
								<%=sponsor_logo_link sponsor%>
							<%else%>
								<%=sponsor_name_link sponsor%>
							<%end%>
						<%else%>
							<%=sponsor_name_link sponsor%>
						<%end%>
					</div>
				<%end%>
			</div>
		</div>
	</div>
<%end%>