<% title "Sponsors" %>
<div class="row ">
	<div class="columns callout">
		<div class="row title-bar">
			<h3>Our Sponsors!</h3>
		</div>
		<p>
			We want to thank all of our past, present, and future sponsors! You all see the value in what we provide and enable us to ignite the passion in a future generation of leaders. On behalf of all Zebracorns, we are tremendously grateful for your support - THANK YOU!
		</p>
		<p>
			If you would like to sponsor our team, please contact us at <%=mentor_email_link%>.
		</p>
		
	</div>
</div>
<%if !current_user.nil?%>
	<div class="row ">
		<div class="columns callout">
			<div class="row title-bar">
				<h5>Add New Sponsors</h5>
			</div>
			<p>
				Steps to add a new sponsor. If we have never had the sponsor before, skip to the second step
				<ol>
					<li><%=link_to "Create the new sponsor", new_sponsor_path%></li>
					<li><%=link_to "Add the sponsor to this year", new_sponsor_year_path%></li>
				</ol>
			</p>
		</div>
	</div>
<%end%>


<%@sponsor_levels.each do |level|%>
	<div class="row ">
		<div class="columns callout">
			<div class="row title-bar">
				<h5><b><%=level[0].name%></b></h5>
			</div>
			<div class="row small-up-1 medium-up-<%=level[0].order+1%>">
				<%sponsors = level[1].sort_by{|s| s.sponsor.name.downcase}%>
				<%sponsors.each do |sponsor_year|%>
					<%sponsor = sponsor_year.sponsor%>
					<div class="column">
						<%if level[0].order <= 2%>
							<%if sponsor.logo_link? %>
								<%=sponsor_logo_link sponsor%>
							<%else%>
								<%=sponsor_name_link sponsor%>
							<%end%>
						<%else%>
							<%=sponsor_name_link sponsor%>
						<%end%>
					</div>
				<%end%>
			</div>
		</div>
	</div>
<%end%>
