<%= form_for(@awards_competition) do |f| %>
  <% if @awards_competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@awards_competition.errors.count, "error") %> prohibited this awards_competition from being saved:</h2>

      <ul>
      <% @awards_competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :competition_id %><br>
	<%= f.collection_select(:competition_id, Competition.all, :id, :name, {:prompt=>true}, {:class=>'my-custom-class'}) %>
  </div>
  <div class="field">
    <%= f.label :award_id %><br>
	<%= f.collection_select(:award_id, Award.all, :id, :name, {:prompt=>true}, {:class=>'my-custom-class'}) %>
  </div>
  <div class="field">
    <%= f.label :blurb %><br>
    <%= f.text_area :blurb %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
