<p id="notice"><%= notice %></p>

<h1>Listing Awards Competitions</h1>

<table>
  <thead>
    <tr>
      <th>Competition</th>
      <th>Award</th>
      <th>Blurb</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @awards_competitions.each do |awards_competition| %>
      <tr>
        <td><%= awards_competition.competition %></td>
        <td><%= awards_competition.award %></td>
        <td><%= awards_competition.blurb %></td>
        <td><%= link_to 'Show', awards_competition %></td>
        <td><%= link_to 'Edit', edit_awards_competition_path(awards_competition) %></td>
        <td><%= link_to 'Destroy', awards_competition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Awards competition', new_awards_competition_path %>
