<p id="notice"><%= notice %></p>

<div class="row">
	<div class="columns small-12 medium-10">
		<h1>Listing Game Videos</h1>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_game_video_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
		<th>Title</th>
      	<th>Game</th>
      	<th>Link</th>
      	<th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_videos.each do |game_video| %>
      <tr>
		<td><%= link_to game_video.title, game_video %></td>
        <td><%= link_to game_video.game.name, game_video.game %></td>
        <td>
			<div class="flex-video widescreen">
				<%= game_video.link.html_safe %>
			</div>
		</td>
        <td><%= link_to fa_icon("pencil"), edit_game_video_path(game_video) %></td>
        <td><%= link_to fa_icon("trash"), game_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>