<div class="small-12 medium-5 large-3 columns callout nomargin ">
	<div class="row title-bar align-justify">
		<div class="small-10 columns">
			<h5><b><%=doc.name%></b> <br /><small><%=doc.date_published.strftime("%b %e, %Y")%></small></h5>
		</div>
		<%if !current_user.nil?%>
			<div class="small-2 columns">
				<div class="text-right"><%=link_to fa_icon("pencil"), edit_document_path(doc)%></div>
			</div>
		<%end%>
	</div>	
	<p>
		<i>Author(s): 
			<%first=true%>
			<%authors=""%>
			<%doc.people.each do |person|%>
				<%if !first%>
					<%= "<a data-open=\"person-#{person.id}\">#{authors},</a> ".html_safe%></a>
				<%end%>
				<%="<a data-open=\"person-#{person.id}\">#{authors}#{person.name}</a>".html_safe%></a>
				<%first=false%>
			<%end%>
			
		</i>
	</p>
	<p>
		<%=doc.about.html_safe%>
	</p>
	<ul>
		<%doc.document_links.each do |link|%>
			<li><%=link_to "#{fa_icon("file")} #{link.name}".html_safe, link.doc_link, :target=>"_blank"%></li>
		<%end%>
	</ul>
</div>