<div class="row">
	<div class="columns small-12 medium-10">
		<h1>Listing Documents</h1>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_document_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date published</th>
      <th>About</th>
      <th>Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= link_to document.name, document %></td>
        <td><%= document.date_published %></td>
        <td><%= document.about.html_safe %></td>
        <td><%= link_to document.category.name, document.category %></td>
        <td><%= link_to fa_icon("pencil"), edit_document_path(document) %></td>
        <td><%= link_to fa_icon("trash"), document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>