<% title "Labs" %>

<div class="columns callout small-12">
	<div class="row title-bar align-justify">
		<div class="small-8 columns">
			<h3>Zebracorn Labs</h3>
		</div>
		<%if !current_user.nil?%>
			<div class="small-4 columns">
				<div class="text-right"><%=link_to fa_icon("plus"), new_document_path%></div>
			</div>
		<%end%>
	</div>
	<div class="">
     	Here at the Zebracorns, we believe in learning and pushing boundaries. In persuit of that, we have publish papers, give talks and have other tidbits of knowledge lying around. We hope you enjoy these as much as we do.  
	</div>
</div>
<div class="row">
	<div class="small-12 medium-9 columns">
		<div style="margin-top:1rem" class="text-center">
			<%= paginate @documents %>
		</div>
		<div class="row align-spaced">
			<%@documents.each do |doc|%>
				<%=render "/documents/doc", :doc=>doc%>
			<%end%>
		</div>
	</div>
	<div class="small-12 medium-3 columns">
		<div class="small-12 columns callout">
			<div class="row title-bar align-justify">
				<div class="small-8 columns">
					<h5>Categories</h5>
				</div>
				<%if !current_user.nil?%>
					<div class="small-4 columns">
						<div class="text-right"><%=link_to fa_icon("plus"), new_category_path%></div>
					</div>
				<%end%>
			</div>
			<ul>
				<li><%=link_to "All", labs_path%></li>
				<%@categories.each do |cat|%>
					<li><%=category_link(cat)%></li>
				<%end%>
			</ul>
		</div>
		<div class="small-12 columns callout">
			<div class="row title-bar">
				<h5>Archive</h5>
			</div>
			<dl>
				<%@range.each do |years|%>
					<dt><%=years[0].year%></dt>
					<%years[1].each do |months|%>
						<%doc = months[1].first%>
						<%count = Document.where("date_published >=?", doc.date_published).count%>
						<%page = count/10+1%>
						<dd><i><%=link_to months[0].strftime("%B"), labs_path+"?q[date_published_lteq]=#{months[1].first.date_published}"%></i></dd>
					<%end%>
				<%end%>
				
			</dl>
		</div>
	</div>
</div>
<%@people.each do |person|%>
	<div class="reveal small" id="person-<%=person.id%>" data-reveal>
	  <h1><%=person.name%></h1>
		  <div class="row">
		  	<div class=" small-12 medium-6 columns">
				<div class="media-object-section">
					<div class="thumbnail">
						<%=image_tag person.image, :width=>"100%"%>
					</div>
				</div>
			</div>
			<div class=" small-12 medium-6 columns">
				<div class="media-object-section">
					<table class="hover stack">
						<tr>
							<th width="40%">Member</th>
							<td><%=person.year_start%>-<%=person.year_end%></td>
						</tr>
						<tr>
							<th>Role on team</th>
							<td><%=person.role.name%></td>
						</tr>
						<tr>
							<th>Documents Published</th>
							<td>
								<%person.documents.order("date_published desc").each do |doc|%>
									<%=doc.name%><small>(<%=doc.date_published.strftime("%m/%e/%y")%>)</small><br />
								<%end%>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
<%end%>