<br />
<div class="row">
	<div class="columns">
		<div class="row title-bar align-justify nomargin">
			<div class="small-8 columns">
				<h3>Zebracorn Labs</h3>
			</div>
			<%if !current_user.nil?%>
				<div class="small-4 columns">
					<div class="text-right"><%=link_to fa_icon("plus"), new_document_path%></div>
				</div>
			<%end%>
		</div>
	</div>
</div>
<div style="margin-top:1rem" class="text-center">
	<div class="row">
		<ul class="accordion small-12 columns" data-accordion >
		  <li class="accordion-item is-active" data-accordion-item>
		    <div class="accordion-content text-left white-background" data-tab-content>
				<div class="">
			     	Here at the Zebracorns, we believe in learning and pushing boundaries. In persuit of that, we have published several papers, given several talks and have some tidbits lying around. We hope you enjoy these as much as we have.  
				</div>
		    </div>
		  </li>
		</ul>
	</div>
</div>


<div class="row">
	<div class=" small-12 columns">
		<ul class="accordion" data-accordion  data-multi-expand="true"  data-allow-all-closed="true">
			<%@categories.each do |cat|%>
				<li class="accordion-item is-active" data-accordion-item>
					<a href="#" class="accordion-title"><h5><%=cat.name%></h5></a>
					<div class="accordion-content" data-tab-content>
						<div class="row align-justify">
							<%cat.documents.order("date_published desc").each do |doc|%>
								<%=render "/documents/doc", :doc=>doc%>
							<%end%>
						</div>
					</div>
				</li>
			<%end%>
		</ul>
	</div>
</div>
<%@people.each do |person|%>
	<div class="reveal small" id="person-<%=person.id%>" data-reveal>
	  <h1><%=person.name%></h1>
		  <div class="row">
		  	<div class=" small-12 medium-6 columns">
				<div class="media-object-section">
					<div class="thumbnail">
						<%=image_tag person.image, :width=>"100%"%>
					</div>
				</div>
			</div>
			<div class=" small-12 medium-6 columns">
				<div class="media-object-section">
					<table class="hover stack">
						<tr>
							<th width="40%">Member</th>
							<td><%=person.year_start%>-<%=person.year_end%></td>
						</tr>
						<tr>
							<th>Role on team</th>
							<td><%=person.role.name%></td>
						</tr>
						<tr>
							<th>Documents Published</th>
							<td>
								<%person.documents.order("date_published desc").each do |doc|%>
									<%=doc.name%><small>(<%=doc.date_published.strftime("%m/%e/%y")%>)</small><br />
								<%end%>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
<%end%>
