<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Date published:</strong>
  <%= @document.date_published %>
</p>

<p>
  <strong>About:</strong>
  <%= @document.about %>
</p>

<p>
  <strong>Category:</strong>
  <%= @document.category %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
