<p id="notice"><%= notice %></p>

<div class="row">
	<div class="columns small-12 medium-10">
		<h1>Listing Games</h1>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_game_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
		<th>Name</th>
      	<th>Year</th>
      	<th>Strategy</th>
      	<th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
		<td><%= link_to game.name, game %></td>
        <td><%= game.year.range %></td>
        <td><%= game.strategy.html_safe %></td>
        <td><%= link_to fa_icon("pencil"), edit_game_path(game) %></td>
        <td><%= link_to fa_icon("trash"), game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>