<%= form_for(@sponsor_level) do |f| %>
  <% if @sponsor_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor_level.errors.count, "error") %> prohibited this sponsor_level from being saved:</h2>

      <ul>
      <% @sponsor_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.text_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
