<p id="notice"><%= notice %></p>

<div class="row">
	<div class="columns small-12 medium-10">
		<h1>Listing Sponsor Levels</h1>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_sponsor_level_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
      <th>Name</th>
	  <th>Order</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsor_levels.each do |sponsor_level| %>
      <tr>
        <td><%= link_to sponsor_level.name, sponsor_level %></td>
		<td><%= sponsor_level.order %></td>
        <td><%= link_to fa_icon("pencil"), edit_sponsor_level_path(sponsor_level) %></td>
        <td><%= link_to fa_icon("trash"), sponsor_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>