<p id="notice"><%= notice %></p>

<h1>Listing Handbooks</h1>

<table>
  <thead>
    <tr>
      <th>Handbook link</th>
      <th>About</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @handbooks.each do |handbook| %>
      <tr>
        <td><%= handbook.handbook_link %></td>
        <td><%= handbook.about %></td>
        <td><%= link_to 'Show', handbook %></td>
        <td><%= link_to 'Edit', edit_handbook_path(handbook) %></td>
        <td><%= link_to 'Destroy', handbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Handbook', new_handbook_path %>
