<%= form_for(@social_media_link) do |f| %>
	<% if @social_media_link.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@social_media_link.errors.count, "error") %> prohibited this social media link from being saved:</h2>

			<ul>
				<% @social_media_link.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %> 
  <br />
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :name, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%=f.text_field :name%>
      </div>
  </div>
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :icon, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%=f.text_field :icon%>
      </div>
  </div>
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :media_url, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%=f.text_area :media_url%>
      </div>
  </div>
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :order, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%=f.number_field :order%>
      </div>
  </div>

  <div class="row">
	  <div class="small-3 medium-2 columns">
      </div>
      <div class="small-9 medium-10 columns">
		  <%= f.submit "Submit", :class=>"button expanded" %>
      </div>
  </div>
<% end %>
