<p id="notice"><%= notice %></p>

<p>
  <strong>Blurb:</strong>
  <%= @involf.blurb %>
</p>

<p>
  <strong>Order:</strong>
  <%= @involf.order %>
</p>

<%= link_to 'Edit', edit_involf_path(@involf) %> |
<%= link_to 'Back', involves_path %>
