<div class="row title-bar">
	<div class="columns small-12 medium-10">
		<h3>Listing Forms</h3>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_form_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
      <th>Name</th>
      <th>Form url</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= link_to form.name, form %></td>
        <td><%= link_to form.form_url, form.form_url %></td>
        <td><%= link_to fa_icon("pencil"), edit_form_path(form) %></td>
        <td><%= link_to fa_icon("trash"), form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>