<% title "News" %>

<br />
<div class="row">
	<div class="columns">
		<div class="row title-bar align-justify">
			<div class="small-8 columns">
				<h5>News!</h5>
			</div>
			<%if !current_user.nil?%>
				<div class="small-4 columns">
					<div class="text-right"><%=link_to fa_icon("plus"), new_post_path%></div>
				</div>
			<%end%>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-9 columns">
		<div style="margin-top:1rem" class="text-center">
			<%= paginate @posts %>
		</div>
		<%@posts.each do |post|%>
			<div class="small-12 columns callout">
				<%=render "individual_post", :post=>post%>
			</div>
		<%end%>
	</div>
	<div class="small-12 medium-3 columns">
		<div class="small-12 columns callout">
			<div class="row title-bar align-justify">
				<div class="small-8 columns">
					<h5>Categories</h5>
				</div>
				<%if !current_user.nil?%>
					<div class="small-4 columns">
						<div class="text-right"><%=link_to fa_icon("plus"), new_category_path%></div>
					</div>
				<%end%>
			</div>
			<ul>
				<li><%=link_to "All", news_path%></li>
				<%@categories.each do |cat|%>
					<li><%=category_link(cat)%></li>
				<%end%>
			</ul>
		</div>
		<div class="small-12 columns callout">
			<div class="row title-bar">
				<h5>Archive</h5>
			</div>
			<dl>
				<%@range.each do |years|%>
					<dt><%=years[0].year%></dt>
					<%years[1].each do |months|%>
						<%post = months[1].first%>
						<%count = Post.active.where("date_published >=?", post.date_published).count%>
						<%page = count/10+1%>
						<dd><i><%=link_to months[0].strftime("%B"), news_path+"?page=#{page}"%></i></dd>
					<%end%>
				<%end%>
				
			</dl>
		</div>
	</div>
</div>