<div class="columns callout small-12">
	<br />
	<table class="hover stack">
		<tr>
			<th class="pull-right show-for-large">Title</th>
			<th class="hide-for-large">Title</th>
			<td>
				<%= @post.title %>
			</td>
		</tr>
		<tr>
			<th class="pull-right show-for-large">Year</th>
			<th class="hide-for-large">Year</th>
			<td>
				<%= link_to @post.year.range, @post.year %>
			</td>
		</tr>
		<tr>
			<th class="pull-right show-for-large">Date Published</th>
			<th class="hide-for-large">Date Published</th>
			<td>
				<%= @post.date_published %>
			</td>
		</tr>
		<tr>
			<th class="pull-right show-for-large">Active?</th>
			<th class="hide-for-large">Active?</th>
			<td>
				<%= @post.active %>
			</td>
		</tr>
	</table>
	<hr />
	<h4>Post Content</h4>
	<table class="hover stack">
		<thead>
			<th>Content Type</th>
			<th>Content</th>
		</thead>
		<tbody>
		
			<%@post.post_contents.order("post_order").each do |content|%>
				<tr>
					<td>
						<%=link_to content.content_type.name, content.content_type%>
					</td>
					<td>
						<%=render "/post_contents/post_content", :content=> content%>
					</td>
				</tr>
			<%end%>
		</tbody>
	</table>
	<hr />
  	<div class="row">
		
		<div class="small-12 medium-5 columns">
			<%= link_to fa_icon("pencil"), edit_post_path(@post), :class=>"button expanded"%>
		</div>
		<div class="small-12 medium-5 columns">
			<%= link_to 'Back', posts_path , :class=>"button secondary expanded"%>
		</div>
		<div class="small-12 medium-2 columns">
			<%= link_to fa_icon("trash"), @post, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"alert button expanded"%>
		</div>
  	</div>
</div>