<%case content.content_type.name%>
<%when "paragraph"%>
	<%=content.body.html_safe%>
<%when "image"%>
	<div class="columns text-center ">
		<div class="small-12 columns">
			<%=image_tag content.body, :alt=>content.supplemental%>
		</div>
		<i><%=content.supplemental%></i>
	</div>
<%when "video"%>
	<div class="columns text-center ">
		<div class="flex-video widescreen">
			<%=content.body.html_safe%>
		</div>
		<i><%=content.supplemental%></i>
	</div>
<%else%>
	Uh oh
<%end%>