<div class="columns callout small-12">
	<br />
	<table class="hover stack">
		<tr>
			<th class="pull-right show-for-large">Post</th>
			<th class="hide-for-large">Post</th>
			<td>
				<%= link_to @post_content.post.title, @post_content.post %>
			</td>
		</tr>
		<tr>
			<th class="pull-right show-for-large">Content Type</th>
			<th class="hide-for-large">Content Type</th>
			<td>
				<%= link_to @post_content.content_type.name, @post_content.content_type %>
			</td>
		</tr>
		<tr>
			<th class="pull-right show-for-large">Content</th>
			<th class="hide-for-large">Content</th>
			<td>
				<%= render "/post_contents/post_content", :content=>@post_content %>
			</td>
		</tr>
		<tr>
			<th class="pull-right show-for-large">Order</th>
			<th class="hide-for-large">Order</th>
			<td>
				<%= @post_content.post_order %>
			</td>
		</tr>
	</table>
	<hr />
  	<div class="row">
		
		<div class="small-12 medium-5 columns">
			<%= link_to fa_icon("pencil"), edit_post_content_path(@post_content), :class=>"button expanded"%>
		</div>
		<div class="small-12 medium-5 columns">
			<%= link_to 'Back', post_contents_path , :class=>"button secondary expanded"%>
		</div>
		<div class="small-12 medium-2 columns">
			<%= link_to fa_icon("trash"), @post_content, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"alert button expanded"%>
		</div>
  	</div>
</div>