<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post_content.post %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @post_content.content_type %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post_content.body %>
</p>

<p>
  <strong>Supplemental:</strong>
  <%= @post_content.supplemental %>
</p>

<p>
  <strong>Order:</strong>
  <%= @post_content.post_order %>
</p>

<%= link_to 'Edit', edit_post_content_path(@post_content) %> |
<%= link_to 'Back', post_contents_path %>
