<%= form_for(@about_content) do |f| %>	  
  <br />
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :name, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%=f.text_field :name%>
      </div>
  </div>

  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :title, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%=f.text_field :title%>
      </div>
  </div>
  <div class="row">
	  <div class="small-3 medium-2 columns">
		  <%= f.label :content, :class=>"text-right middle"%>
      </div>
      <div class="small-9 medium-10 columns">
		  <%=f.text_area :content, :rows=>5%>
      </div>
  </div>
  <div class="row">
	  <div class="small-3 medium-2 columns">
      </div>
      <div class="small-9 medium-10 columns">
		  <%= f.submit "Submit", :class=>"button expanded" %>
      </div>
  </div>
<% end %>

	
	