<div class="row">
	<div class="columns small-12 medium-10">
		<h1>Listing About Contents</h1>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_about_content_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @about_contents.each do |about_content| %>
      <tr>
        <td><%= link_to about_content.name, about_content %></td>
        <td><%= about_content.title %></td>
        <td><%= about_content.content.html_safe %></td>
        <td><%= link_to fa_icon("pencil"), edit_about_content_path(about_content) %></td>
        <td><%= link_to fa_icon("trash"), about_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>