<%= form_for(@sponsor_year) do |f| %>
  <% if @sponsor_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor_year.errors.count, "error") %> prohibited this sponsor_year from being saved:</h2>

      <ul>
      <% @sponsor_year.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sponsor_id %><br>
	<%= f.collection_select(:sponsor_id, Sponsor.all, :id, :name, {:prompt=>true}, {:class=>'my-custom-class'}) %>
  </div>
  <div class="field">
    <%= f.label :year_id %><br>
	<%= f.collection_select(:year_id, Year.all, :id, :end_date, {:prompt=>true}, {:class=>'my-custom-class'}) %>
  </div>
  <div class="field">
    <%= f.label :sponsor_level_id %><br>
	<%= f.collection_select(:sponsor_level_id, SponsorLevel.all, :id, :name, {:prompt=>true}, {:class=>'my-custom-class'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
