<div class="row title-bar">
	<div class="columns small-12 medium-10">
		<h3>Listing Sponsor Years</h3>
	</div> 
	<div class="columns small-12 medium-2">
		<div class="float-right">
			<%= link_to fa_icon("plus 2x"), new_sponsor_year_path %>
		</div>
	</div>
</div>

<table class="hover stack">
  <thead>
    <tr>
      <th>Sponsor</th>
      <th>Year</th>
      <th>Sponsor level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsor_years.each do |sponsor_year| %>
      <tr>
        <td><%= link_to sponsor_year.sponsor.name, sponsor_year.sponsor %></td>
        <td><%= link_to sponsor_year.year.range, sponsor_year %></td>
        <td><%= link_to sponsor_year.sponsor_level.name, sponsor_year.sponsor_level %></td>
        <td><%= link_to 'Show', sponsor_year %></td>
        <td><%= link_to fa_icon("pencil"), edit_sponsor_year_path(sponsor_year) %></td>
        <td><%= link_to fa_icon("trash"), sponsor_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>