<div id="right-sidebar">
	 <ul class="menu vertical">
	   <li><a href="#"><span><%=fa_icon "facebook"%></span></a></li>
	   <li><a href="#"><span><%=fa_icon "twitter"%></span></a></li>
	   <li><a href="#"><span><%=fa_icon "camera"%></span></a></li>
	   <li><a href="#"><span><%=fa_icon "youtube"%></span></a></li>
	   <li><a href="#"><span><%=fa_icon "instagram"%></span></a></li>
	   <li><a href="#"><span><%=fa_icon "google-plus"%></span></a></li>
	 </ul>
</div>