<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
		  <%=render "/layouts/top_nav"%>
		  
		  <div id="right-sidebar">
	 	     <ul class="menu vertical">
	 	       <li><a href="#"><span><%=fa_icon "facebook"%></span></a></li>
	 	       <li><a href="#"><span><%=fa_icon "twitter"%></span></a></li>
			   <li><a href="#"><span><%=fa_icon "camera"%></span></a></li>
			   <li><a href="#"><span><%=fa_icon "youtube"%></span></a></li>
			   <li><a href="#"><span><%=fa_icon "instagram"%></span></a></li>
			   <li><a href="#"><span><%=fa_icon "google-plus"%></span></a></li>
	 	     </ul>
		  </div>
		  
		  <%= yield %>
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  asldkjf;alskdjflaskdfjalskfjsalkfjasldkjf;alskdjflaskdfjalskfjsalk
		  <br />
		  

  </body>
</html>
