<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Zebracorns</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>
			<%= content_for?(:title) ? yield(:title) : "Untitled" %>
		</title>

		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div class="background">
		</div>
		<div>
			<%=render "/layouts/top_nav"%>
			<%=render "/layouts/side_nav"%>
		</div>

		<div class="row align-center">
			<div class="row columns small-12">
				<%if notice%>
					<div class="success callout columns small-12" data-closable>
						<%= notice %>
						<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
						    <span aria-hidden="true"><%=fa_icon("close")%></span>
						</button>
					</div>
				<%elsif alert%>
					<div class="alert callout columns small-12" data-closable>
						<%= alert %>
						<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
						    <span aria-hidden="true"><%=fa_icon("close")%></span>
						</button>
					</div>
				<%end%>
			</div>

			<hr />
			<div class="medium-10 columns">
				<%= yield %>
			</div>
		</div>
		<%=render "/layouts/footer"%>
	    <script>
	    	$(document).foundation();
	    </script>
	</body>
</html>
